@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body { height: 100%; }

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 0 0;
}

ol, ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: normal;
}

h2 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	display:inline;
    font-size: 30px;
    font-weight: normal;
}

h3 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	display:inline;
    font-size: 22px;
    font-weight: normal;
}

h4 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	display:inline;
    font-size: 14px;
    font-weight: normal;
}

body {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
	color: #000;
	min-width: 640px;
	min-height:400px;
	background-color: #000;
}

/* COVER */

article.error {
	width: 100%;
	height: 100%;
}

article.error .container {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
}

/* BOX */
.box {
	width: 450px;
	height: 350px;
	background-color: rgba(204, 198, 198, 0.6);
}

.box .top {
	width: 100%;
	height: 97px;
	background: url(../images/moodnite-logo-xl.png) no-repeat;
	background-position: center;
}

.box .top a {
	width: 100%;
	height: 100%;
	display: block;
}

.box .error-message {
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	height: 256px;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;	
}