a {
	text-decoration: none;
	color: #000;
}

p {
	margin: 0 0 0 0;
}

h1 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	font-size: 200%;
}

h2 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	font-size: 110%;
}

body { 
	font: 100% helvetica neue, helvetica, arial, sans-serif;
	font-weight: 300;
	line-height: 1.4;
	margin: 0px;
	color: #000;
}

header.moodnite {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.6);	
}

header.moodnite .logo {
	width: 70px;
	padding-top: 15px;
	margin: 0 auto;
}

section.content {
	width: 100%;
	position: relative;	
	float: left;
}

nav {
	width: 100%;
	position: fixed;
	z-index: 1;
}

article.film {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 100%;
	float: left;
}

article.film .rate {
	width: 100%;
	height: 70%;
	float: left;
}

article.film .rug {
	width: 70%;
	height: 26%;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: rgba(255, 255, 255, 0.6);
	float: left;
	font-weight: 300;
}

article.film .rug header.title {
	width: 100%;
	padding-bottom: 1%;
	float: left;
}

article.film .rug .data-sheet {
	width: 30%;
	float: left;
}

article.film .rug .synopsis {
	width: 50%;
	float: left;
}