@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/*
burgundi 		#eb4f5a
broke pink 		#eab7b3
star yellow 	#fada15
sand gray 		#e4d9cc
twitter blue 	#7fd4f0
*/

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 0 0;
}

ol, ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: normal;
}

h2 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	display:inline;
    font-size: 30px;
    font-weight: normal;
}

h3 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	display:inline;
    font-size: 22px;
    font-weight: normal;
}

h4 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	display:inline;
    font-size: 14px;
    font-weight: normal;
}

body {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
	color: #000;
	min-width: 640px;
	background-color: #e4d9cc;
}

/* GENERAL */

a.remove {
	color: #ff0048;
}

a.remove:hover {
	text-decoration: none;
	color: #fc8bab;
}

a.add {
	color: #7fd4f0;
}

a.add:hover {
	text-decoration: none;
	color: #b5e1f0;
}

a.user-link {
	font-weight: bold;
}

section.content {
	width: 100%;
	position: relative;	
	float: left;
}

/* HEADER */

header.moodnite {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 2;
	background-color: rgba(204, 198, 198, 0.6);
}

header.moodnite nav {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	position: fixed;
	z-index: 1;
	min-width: 600px;
}

header.moodnite nav .search {
	width: 40%;
	height: 50px;
	margin-left: 10px;
	float: left;
	background: url(../images/search.png) no-repeat;
	background-position: 10px center;
	background-size: 25px;
}

header.moodnite nav .search input[type=text] {
	width: 20px;
	background-color: rgba(204, 198, 198, 0);
	border: 0;
	padding-top: 17px;
	padding-bottom: 18px;
	padding-right: 15px;
	padding-left: 50px;
	color: #6d6d6d;
}

header.moodnite nav .search input[type=text]:hover {
	width: 100%;
	background-color: rgba(235, 79, 90, 0.4);
	transition: width 1s, background 1s;
	-webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
	-webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

header.moodnite nav .search input[type=text]:focus {
	width: 100%;
	background-color: rgba(235, 79, 90, 0.4);
	transition: width 1s, background 1s;
	-webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
	-webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
	outline:0px;
}

header.moodnite nav .logo {
	width: 100px;

	margin: 0 auto;
}

header.moodnite nav .user {
	float: right;
}

header.moodnite nav .user img.photo-xs {
	width: 30px;
	height: 30px;
	border-radius: 16px;
	margin-top: 9px;
	margin-right: 20px;
	border: 1px solid #fff;
}

header.moodnite nav .user img {
	width: 25px;
	margin-top: 13px;
	margin-right: 20px;
}

/* index */

article.home {
	width: 100%;
	padding-top: 50px;
	float: left;
}

article.home .popular-movies {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	
	margin: 0 auto;
}

article.home .upcoming-movies {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eab7b3;
	float: left;
}

/* movie/show */

article.film {
	float: left;
}

article.film .cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 100%;
	float: left;
}

article.film .rate {
	width: 100%;
	height: 70%;
	float: left;
}

article.film .rate h3 {
	font-size: 50px;
	color: #FFF;
}

article.film .rug {
	width: 80%;
	height: 30%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: rgba(204, 198, 198, 0.6);
	float: left;
}

article.film .rug header.title {
	width: 80%;
	float: left;
	padding-top: 10px;
}

article.film .rug .actions {
	float: right;
	padding-top: 10px;
}

article.film .rug .data-sheet {
	width: 30%;
	float: left;
}

article.film .rug .data-sheet h2.year {
	font-size: 25px;
}

article.film .details {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #fff;
	float: left;
}

article.film .details .details-sheet {
	width: 28%;
	padding-right: 2%;
	float: left;
}

article.film .details .details-sheet h2 {
	font-size: 18px;
	float: left;
}

article.film .details .synopsis {
	width: 38%;
	padding-right: 2%;
	float: left;
}

article.film .details .synopsis p.tagline {
	font-weight: bold;
}

article.film .details .genres {
	width: 30%;
	float: left;
	text-align: center;
}

article.film .details .genres h3 {
	padding-left: 5px;
	padding-right: 5px;
	border: 1px #000 solid;
	border-radius: 5px;
	margin-right: 2px;
	line-height: 28px;
	font-size: 16px;
	font-weight: normal;
}

article.film .cast {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float: left;
}

article.film .similar-movies {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eab7b3;
	float: left;
}

/* movie/credits */

article.credits {
	width: 100%;
	padding-top: 50px;
	float: left;
	color: #fff;
}

article.credits .cast {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #000;
	float: left;
	text-align: center;
}

article.credits .crew {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000;
	float: left;
	text-align: center;
}

article.credits li {
	width: 100%;
}

article.credits a {
	color: #fff;
}

article.credits h3 {
	font-weight: bold;
}

article.credits li .left-column {
	float: left;
	width: 50%;
	text-align: right;
}

article.credits li .right-column {
	float: left;
	width: 50%;
	text-align: left;
}

article.credits li h4.left {
	padding-right: 10px;
}

article.credits li h4.right {
	padding-left: 10px;
}

/* person/show */

article.person {
	width: 100%;
	padding-top: 50px;
	float: left;
}

article.person .details {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 50px;
	background-color: #fff;
	float: left;
}

article.person .details header.name {
	width: 100%;
	float: left;
}

article.person .details .photo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #eab7b3;
	-webkit-filter: grayscale(100%);
	width: 300px;
	height: 450px;
	margin-left: 40px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
}

article.person .details .info {
	width: 500px;
	float: left;
}

article.person .cast-credits {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float: left;
}

article.person .cast-credits li.film .character {
	width: 165px;
	padding: 10px;
	float: left;
	background-color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

article.person .crew-credits {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eab7b3;
	float: left;
}

article.person .crew-credits li.film .job {
	width: 165px;
	padding: 10px;
	float: left;
	background-color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

/* ul.films */

@media (min-width: 600px)
{
	ul.films {
		width: 410px;
	}
	
	ul.people {
		width: 410px;
	}
}

@media (min-width: 870px)
{
	ul.films {
		width: 615px;
	}
	
	ul.people {
		width: 615px;
	}
}

@media (min-width: 1200px)
{
	ul.films {
		width: 820px;
	}
	
	ul.people {
		width: 820px;
	}
}

@media (min-width: 1400px)
{
	ul.films {
		width: 1025px;
	}
	
	ul.people {
		width: 1025px;
	}
}

@media (min-width: 1600px)
{
	ul.films {
		width: 1230px;
	}
	
	ul.people {
		width: 1230px;
	}
}

@media (min-width: 1800px)
{
	ul.films {
		width: 1435px;
	}
	
	ul.people {
		width: 1435px;
	}
}

ul.films {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

ul.films li.film {
	width: 185px;
	margin: 10px;
	float: left;
	display: block;
}

ul.films li.film .poster {
	width: 185px;
	float: left;
}

ul.films li.film .data {
	background-color: #fff;
	width: 165px;
	min-height: 60px;
	padding: 10px;
	float:left;
}

ul.films li.film .data .stars {
	float:left;
	padding-left: 2px;
	margin: 0 auto;
	font-size: 16px;
}

ul.films li.film .data .stars a {
	font-size: 16px;
}

ul.films li.film .data .stars a:hover {
	text-decoration: none;
	color: #fada15;
}

ul.films li.film .user {
	width: 165px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	float: left;
}

ul.films li.film .user .avatar {
	float: left;
}

ul.films li.film .user .avatar img.user-avatar {
	width: 30px;
	height: 30px;
	border-radius: 16px;
	border: 1px solid #fff;
}

ul.films li.film .user .by {
	float: left;
	padding-left: 6px;
	padding-top: 5px;
}

ul li.separator {
	width: 165px;
	height: 258;
	margin: 10px;
	padding: 10px;
	float: left;
	display: block;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
}

ul li.separator-long {
	width: 165px;
	height: 298;
	margin: 10px;
	padding: 10px;
	float: left;
	display: block;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
}

ul #pink {
	background-color: #eab7b3;
}

ul li.separator-short {
	width: 165px;
	height: 164;
	margin: 10px;
	padding: 10px;
	float: left;
	display: block;
	background-color: #eab7b3;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
}

ul li.separator h2 {
	color: #eab7b3;
}

ul li.separator-short h2 {
	color: #fff;
}

ul li.separator-long h2 {
	color: #eab7b3;
}

ul #pink h2 {
	color: #fff;
}

ul li.tag {
	width: 165px;
	height: 164;
	margin: 10px;
	padding: 10px;
	float: left;
	display: block;
	background-color: #a9e6ca;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
}

/* ul.people */

.section-title {
	width: 100%;
}

.section-title h2 {
	font-size: 40px;
	margin-left: 10px;
}

ul.people {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

ul.people li.person-sheet {
	width: 185px;
	margin: 10px;
	float: left;
	display: block;
}

ul.people li.person-sheet .photo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #000;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	width: 100%;
	height: 250px;
	float: left;
}

ul.people li.person-sheet .user-photo{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #000;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	width: 100%;
	height: 185px;
	float: left;
}

ul.people li.person-sheet .data {
	background-color: #fff;
	width: 165px;
	padding: 10px;
	float:left;
}

/* search/result */

article.search {
	width: 100%;
	padding-top: 50px;
	float: left;
}

article.search .films-results {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float: left;
}

article.search .people-results {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eab7b3;
	float: left;
}

article.search .users-results {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float: left;
}

/* USER */

article.user {
	width: 100%;
	min-height: 70%;
	padding-top: 50px;
	float: left;
}

article.user header.profile {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	float:left;
	
	margin: 0 auto;
}

article.user header.profile .avatar {
	width: 140px;
	height: 140px;
	float: left;
}

article.user header.profile .data {
	width: 300px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

article.user header.profile img.photo {
	width: 140px;
	height: 140px;
	border-radius: 70px;
	float: left;
}

article.user .sign-in {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	
	margin: 0 auto;
}

article.user .login {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	
	margin: 0 auto;
}

article.user .sign-in {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	
	margin: 0 auto;
}

article.user nav.menu {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	background-color: #fff;
	float: left;
	margin: 0 auto;
}

article.user nav.menu ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

article.user nav.menu li {
	width: 180px;
	padding-top: 10px;
	padding-bottom: 8px;
	float: left;
	display: block;
	text-align: center;
}

article.user nav.menu li.selected {
	background-color: #e4d9cc;
}

article.user nav.menu li a {
	text-transform: uppercase;
	font-weight: bold;
}

article.user nav.menu li a:hover {
	color: eab7b3;
	text-decoration: none;
}

article.wall {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float:left;
	
	margin: 0 auto;
}

article.reviews {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float:left;
	
	margin: 0 auto;
}

article.watched-list {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float:left;
	
	margin: 0 auto;
}

article.follows {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float:left;
	
	margin: 0 auto;
}

article.lists {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float:left;
	
	margin: 0 auto;
}

/* FORM */

article.user form {
	width: 400px;
	padding-top: 20px;
	margin: 0 auto;
	display: block;
}

article.user form .film-about {
	width: 400px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

article.user form .stars {
	width: 100%;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #fff;
	text-align: center;
	font-size: 0;
	padding-bottom: 5px;
}

article.user form .stars a {
	width: 100%;
	font-size: 46px;
	text-align: center;
	color: #ddd;
}

article.user form .stars:hover a {
	color: #fada15;
	text-decoration: none;
}

article.user form .stars > a:hover ~ a {
	text-decoration: none;
	color: #ddd;
}

article.user .field {
	width: 100%;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.user input, textarea {
	width: 100%;
	float: left;
	font-size: 18px;
	border: none;
	padding: 10px;
	margin: 0;
}

article.user input[type="submit"] {
	background-color: #eab7b3;
	color: #fff;
}

article.user input[type="submit"]:hover {
	background-color: #eb4f5a;
	color: #fff;
	transition-duration: 1s;
}

.public-announcement {
	width: 100%;
	float: left;
	font-size: 16px;
	text-align: center;
}

.public-announcement a{
	color: #eb4f5a;
	font-size: 18px;
	font-weight: bold;
}

.twitter-share-button {
	padding: 10px;
}

/* FOOTER */

footer {
	width: 100%;
	height: 30%;
	float: left;
	background-color: rgba(204, 198, 198, 0.6);
	color: #000;
}

footer .area {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}