@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 0 0;
}

ol, ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: normal;
}

h2 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	display:inline;
    font-size: 30px;
    font-weight: normal;
}

h3 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	display:inline;
    font-size: 22px;
    font-weight: normal;
}

h4 {
	margin: 0 0 0 0;
	text-transform: uppercase;
	display:inline;
    font-size: 14px;
    font-weight: normal;
}

body {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
	color: #000;
}

header.moodnite {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 2;
	background-color: rgba(204, 198, 198, 0.6);
}

header.moodnite .logo {
	width: 74px;
	padding-top: 15px;
	margin: 0 auto;
}

section.content {
	width: 100%;
	position: relative;	
	float: left;
}

nav {
	width: 100%;
	position: fixed;
	z-index: 1;
}

/* index */

article.home {
	width: 100%;
	padding-top: 27px;
	float: left;
}

article.home .popular-movies {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float: left;
}

article.home .popular-movies .area {
	float: left;
}

article.home .popular-movies .area img{
	margin: 10px;
}

article.home .upcoming-movies {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eab7b3;
	float: left;
}

article.home .upcoming-movies .area {
	float: left;
}

article.home .upcoming-movies .area img{
	margin: 10px;
}

/* movie/show */

article.film {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	width: 100%;
	height: 100%;
	float: left;
}

article.film .rate {
	width: 100%;
	height: 70%;
	float: left;
}

article.film .rate h3 {
	font-size: 50px;
	color: #FFF;
}

article.film .rug {
	width: 80%;
	height: 30%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: rgba(204, 198, 198, 0.6);
	float: left;
}

article.film .rug header.title {
	width: 100%;
	float: left;
	padding-top: 10px;
}

article.film .rug .data-sheet {
	width: 30%;
	float: left;
}

article.film .rug .data-sheet h2.year {
	font-size: 25px;
}

article.film .details {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #fff;
	float: left;
}

article.film .details .details-sheet {
	width: 28%;
	padding-right: 2%;
	float: left;
}

article.film .details .details-sheet h2 {
	font-size: 18px;
}

article.film .details .synopsis {
	width: 38%;
	padding-right: 2%;
	float: left;
}

article.film .details .synopsis p.tagline {
	font-weight: bold;
}

article.film .details .genres {
	width: 30%;
	float: left;
	text-align: center;
}

article.film .details .genres h3 {
	padding-left: 5px;
	padding-right: 5px;
	border: 1px #000 solid;
	border-radius: 5px;
	margin-right: 2px;
	font-size: 16px;
	font-weight: normal;
}

article.film .cast {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float: left;
}

article.film .cast .area {
	float: left;
}

article.film .cast .person-sheet {
	width: 185px;
	margin: 10px;
	display: inline-block;
}

article.film .cast .person-sheet .photo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #000;
	-webkit-filter: grayscale(100%);
	width: 100%;
	height: 250px;
	float: left;
}

article.film .cast .person-sheet .data {
	background-color: #fff;
	width: 165px;
	padding: 10px;
	float:left;
}

article.film .similar-movies {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eab7b3;
	float: left;
}

article.film .similar-movies .area {
	float: left;
}

article.film .similar-movies .area img{
	margin: 10px;
}

/* person/show */

article.person {
	width: 100%;
	padding-top: 50px;
	float: left;
}

article.person .details {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 50px;
	background-color: #fff;
	float: left;
}

article.person .details header.name {
	width: 100%;
	float: left;
}

article.person .details .photo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #eab7b3;
	-webkit-filter: grayscale(100%);
	width: 300px;
	height: 450px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
}

article.person .details .info {
	width: 500px;
	float: left;
}

article.person .cast-credits {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e4d9cc;
	float: left;
}

article.person .cast-credits ul.area {
	float: left;
	display: flex;
	flex-wrap: wrap;
}

article.person .cast-credits li.film {
	width: 185px;
	margin: 10px;
	float: left;
	display: block;
}

article.person .cast-credits li.film .poster {
	width: 185px;
	float: left;
}

article.person .cast-credits li.film .character {
	width: 165px;
	padding: 10px;
	float: left;
	background-color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

article.person .crew-credits {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eab7b3;
	float: left;
}

article.person .crew-credits ul.area {
	float: left;
	display: flex;
	flex-wrap: wrap;
}

article.person .crew-credits li.film {
	width: 185px;
	margin: 10px;
	float: left;
	display: block;
}

article.person .crew-credits li.film .poster {
	width: 185px;
	float: left;
}

article.person .crew-credits li.film .character {
	width: 165px;
	padding: 10px;
	float: left;
	background-color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}